html {
  background-color: #c9b5ab;
}

h1 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.5rem;
}

nav a {
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
  font-style: bold;
  line-height: 1.5;
  font-size: 1.125rem;
}

img {
  width: 100%;
}

.a {
  font-style: italic;
}




  font-family: 'PT Serif', serif;

  font-family: 'PT Sans', sans-serif;
