html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  line-height: 1.5;
  font-size: 1.5rem;
}

nav a {
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  line-height: 1.5;
  font-size: 1.125rem;
}

main {
  font-family: 'PT Serif', serif;
}

img {
  width: 100%;
}

.a {
  font-style: italic;
  line-height: 1.5;
}

.b {
  font-weight: bolder;
  font-size: 1.125rem;
}

.c {
  font-style: italic;
  font-size: 1.5rem;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
}

main aside ul li {
  font-size: 0.8;
}

footer {
  font-size: 0.8rem;
}
