html {
  background-color: #c9b5ab;
}


h1 {
  color: #3f1622;

}

body header h1 i {
  color: #8f2440;
}

nav a {
  color: #8f2440;
}



  font-family: 'PT Serif', serif;

  font-family: 'PT Sans', sans-serif;
